*{
    margin: 0;
    padding: 0;;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background-color: #e7e7e7;
    border-radius: 1.5rem;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

body{
    display: flex;
    justify-content: center;
}

.divForm {
    padding: 1rem;
}

button{
    margin-top: 1rem;
    border-radius: 6px;
}

@media (min-width: 768px){
    main {
        flex-direction: row;
    }

    form{
        margin: 20px;
    }
}