*{
    margin: 0;
    padding: 0;;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    background-color: #e7e7e7;
    border-radius: 1.5rem;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}



.divForm {
    padding: 1rem;
}

button{
    margin-top: 1rem;
    border-radius: 6px;
}

@media (min-width: 375px) {
    main {
        flex-direction: column;
    }

    form{
        margin: 20px;
    }
}

@media (min-width: 768px){
    main {
        flex-direction: column;
    }

    form{
        margin: 20px;
    }
}

@media (min-width: 1024px) {
    main {
        flex-direction: row;
        width: 60%;
    }

    form{
        margin: 20px;
        width: 80%;
    }
}