* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.integrantesPerfil {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
}

.integrante {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.profilePic {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

legend {
    font-size: 14px;
}

a {
    width: 120px;
    height: 60px;
    color: white;
    background-color: #D49034;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    box-shadow: 2px 2px 4px black;
}
