* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containerData {
    background-color: #B0A455;
    border-radius: 10px;
    margin-top: 50px;   
    height: 500px; 
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

#cartTitle {
    font-size: 18px;
    color: white;
    font-weight: 400;
    border-bottom: 2px solid #E08846;
} 

.containerPrice {
    background-color: #B0A455;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.total {
    color: white;
    font-size: 18px;
}

.paymentMethods {
    background-color: #B0A455;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

#payment {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid rgb(71, 71, 71);
    width: 200px;
    font-size: 14px;
    font-weight: 100;
    color: white;
}

select * {
    background: #E08846;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 100;
}


.pay {
    width: 30px;
}
#btnPay {
    background-color: rgba(255, 255, 255, 0);
}

#btnPay:active {
    background-color: greenyellow;
}


.closeX {
    width: 15px;
    background-color: #ffffff00;
    border: none;
}
.closeX:active {
    width: 20px;
}

.btnCant {
    font-size: 14px;
    width: 15px;
}
.cartItems {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.cartItemsDetail, .separador {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.prodName {
    font-size: 14px;
    font-weight: bold;
}

#totalShop {
    font-weight: bold;
    font-size: 16px;
}


@media (min-width: 768px) {
    
.containerData {
    background-color: #B0A455;
    border-radius: 10px;
    margin-top: 50px;   
    height: 500px; 
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}
}